/* List cards in payment */
.card-list {
   list-style-type: none;
   padding-left: 0;
}

.card-item {
   border: 1px solid #ccc;
   border-radius: 5px;
   margin-bottom: 10px;
   margin-left: 15%;
   margin-right: 15%;
   padding: 10px;
   display: flex;
   align-items: center;
}

.card-item:hover {
   background-color: #f9f9f9;
}

.card-label {
   cursor: pointer;
   flex-grow: 1;
}

.card-actions {
   margin-left: auto;
}

.card-actions button {
   margin-left: 10px;
   padding: 5px 10px;
   margin-bottom: 5%;
   border-radius: 3px;
   cursor: pointer;
   text-transform: uppercase;
   font-size: 14px;
}
.btn-success {
   color: #fff;
   background-color: #28a745;
   border: 1px solid #28a745;
}

/* QR Code details */
/* Define CSS for the qrcode-details class */
.qrcode-section {
   padding: 20px;
   background-color: #f8f9fa;
   border-radius: 10px;
}

/* Define CSS for the description section */
.description {
   margin-bottom: 20px;
}

.description p {
   margin-bottom: 10px;
   color: #343a40; /* Text color */
}

.description h4 {
   margin-bottom: 5px;
   color: #6c757d; /* Heading color */
}
