/* List cards in payment */

.card-item {
   border: 1px solid #f32323;
   border-radius: 5px;
   margin-bottom: 10px;
   padding: 10px;
}

.card-item:hover {
   background-color: #f9f9f9;
}

.card-label {
   cursor: pointer;
   flex-grow: 1;
}

.card-actions button {
   padding: 5px 10px;
   border-radius: 3px;
   cursor: pointer;
   font-size: 14px;
   display: flex;
   align-items: center;
   margin-bottom: 2%;
}
.btn-success {
   color: #fff;
   background-color: #28a745;
   border: 1px solid #28a745;
}

/* QR Code details */
/* Define CSS for the qrcode-details class */
.qrcode-section {
   padding: 20px;
   background-color: #f8f9fa;
   border-radius: 10px;
}

/* Define CSS for the description section */
.description {
   margin-bottom: 20px;
}

.description p {
   margin-bottom: 10px;
   color: #343a40; /* Text color */
}

.description h4 {
   margin-bottom: 5px;
   color: #6c757d; /* Heading color */
}

.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0, 0, 0); /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
