{% extends 'layout.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<section class="qrcode-section">
   <div class="container">
      <div class="row grid grid-cols-1 md:grid-cols-12">
         <div class="md:col-span-3">
            <img src="https://images.pexels.com/photos/1416736/pexels-photo-1416736.jpeg" alt="" />
         </div>
         <div class="md:col-span-6 ml-10 qrcode-details">
            <h1 class="title text-center"><u>{{ qrcode_details.childname }}</u></h1>
            <div class="details">{{description | safe }}</div>
         </div>
      </div>
   </div>
</section>

{% endblock %}
