{% extends 'layout.html' %} {% load static %} {% block content %}
<div class="main-container">
   <article>
      <section class="section hero" style="background-image: url('https://i.ibb.co/KGT8ddj/hero-banner-1.jpg')">
         <div class="container">
            <h2 class="h1 hero-title">Embrace Radiance<strong>Discover our collection</strong></h2>

            <p class="hero-text">In the delicate fusion of technology and sentiment, our QR-Coded Jewelry Collection transcends mere adornment. Each piece is crafted with with love and purpose.</p>

            <button class="btn btn-primary">
               <span>Shop Now</span>

               <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </button>
         </div>
      </section>

      <section class="section product">
         <div class="container">
            <h2 class="h2 section-title">Bestsellers Products</h2>

            <ul class="filter-list">
               <li>
                  <button class="filter-btn active">All</button>
               </li>

               <li>
                  <button class="filter-btn">Nike</button>
               </li>

               <li>
                  <button class="filter-btn">Adidas</button>
               </li>

               <li>
                  <button class="filter-btn">Puma</button>
               </li>

               <li>
                  <button class="filter-btn">Bata</button>
               </li>

               <li>
                  <button class="filter-btn">Apex</button>
               </li>
            </ul>

            <ul class="product-list">
               {% for product in products %}
               <li class="product-item">
                  <a href="{% url 'product-details' product.id %}" style="text-decoration: none; color: inherit">
                     <div class="product-card" tabindex="0">
                        <figure class="card-banner">
                           <img src="{{ product.photo.url }}" alt="{{ product.name }}" width="312" height="350" loading="lazy" class="image-contain" />

                           <div class="card-badge">New</div>
                           <ul class="card-action-list">
                              <li class="card-action-item">
                                 <button class="card-action-btn" aria-labelledby="card-label-1">
                                    <ion-icon name="cart-outline"></ion-icon>
                                 </button>

                                 <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                              </li>
                              <li class="card-action-item">
                                 <button class="card-action-btn" aria-labelledby="card-label-2">
                                    <ion-icon name="heart-outline"></ion-icon>
                                 </button>

                                 <div class="card-action-tooltip" id="card-label-2">Add to Whishlist</div>
                              </li>

                              <li class="card-action-item">
                                 <button class="card-action-btn" aria-labelledby="card-label-3">
                                    <ion-icon name="eye-outline"></ion-icon>
                                 </button>

                                 <div class="card-action-tooltip" id="card-label-3">Quick View</div>
                              </li>

                              <li class="card-action-item">
                                 <button class="card-action-btn" aria-labelledby="card-label-4">
                                    <ion-icon name="repeat-outline"></ion-icon>
                                 </button>

                                 <div class="card-action-tooltip" id="card-label-4">Compare</div>
                              </li>
                           </ul>
                        </figure>

                        <div class="card-content">
                           <div class="card-cat">
                              <a href="#" class="card-cat-link">Men</a> /
                              <a href="#" class="card-cat-link">Women</a>
                           </div>

                           <h3 class="h3 card-title">
                              <a href="#">{{ product.name }}</a>
                           </h3>

                           <data class="card-price" value="180.85">{{ product.price }}</data>
                        </div>
                     </div>
                  </a>
               </li>

               {% endfor %}
            </ul>
         </div>
      </section>

      <section class="section cta">
         <div class="container">
            <ul class="cta-list">
               <li>
                  <div class="cta-card" style="background-image: url('https://i.etsystatic.com/39112032/r/il/67021c/4594717386/il_794xN.4594717386_5vp3.jpg')">
                     <h3 class="h2 card-title">The Summer Sale Off 50%</h3>

                     <a href="#" class="btn btn-link">
                        <span>Shop Now</span>

                        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                     </a>
                  </div>
               </li>

               <li>
                  <div class="cta-card" style="background-image: url('https://i.etsystatic.com/47479521/r/il/04e8dd/5939446202/il_1140xN.5939446202_jr7p.jpg')">
                     <h3 class="h2 card-title">Makes your loved ones save</h3>

                     <a href="#" class="btn btn-link">
                        <span>Shop Now</span>

                        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                     </a>
                  </div>
               </li>
            </ul>
         </div>
      </section>
   </article>
   <div class="products"></div>
   <!-- ------------------ -->
</div>

{% endblock %}
