{% extends 'layout.html' %} {% load static %} {% block content %} <br /><br />
<section class="ftco-section">
   <div class="container">
      <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
         <div class="md:col-span-1"></div>
         <div class="md:col-span-5">
            <a class="image-popup block h-full">
               <img src="{{ product.photo.url }}" class="w-full h-full object-cover rounded-lg hover:opacity-90 transition duration-300" />
            </a>
         </div>
         <div class="md:col-span-6 md:pl-5">
            <h2 class="h2">{{ product.name }}</h2>
            <p class="text-left text-gray-600">{{ product.count }} units Sold</p>
            <div class="rating flex items-center mb-4">
               <span class="mr-2">{{ product.rating }}</span>
               <span class="ion-ios-star text-yellow-500">★</span>
               <span class="ion-ios-star text-yellow-500">★</span>
               <span class="ion-ios-star text-gray-400">☆</span>
            </div>
            <p class="price text-2xl font-bold mb-4">₹{{ product.price }}</p>

            <p class="description text-gray-700 leading-relaxed mb-6">
               Unisex personalized code necklace Product Dimensions: 20 x 3.5 x 20 cm; 80 Grams Manufacturer: Sukkhi Online Private Limited <br />
               ASIN: B076PFG5YK <br />
               Item model number: N71877GLDPV092017 <br />
               Country of Origin: India <br />
               Item Weight: 80 g <br />
               Item Dimensions LxWxH: 20 x 3.5 x 20 Centimeters
            </p>

            <a href="{% url 'qrcode' product.id%}" class="btn btn-primary inline-block px-6 py-3 text-white rounded-lg shadow-md hover:bg-yellow-600 transition duration-300">Encode QR Code</a>
         </div>
      </div>
   </div>
</section>

<section class="mt-20 ftco-section bg-white py-12">
   <div class="container">
      <div class="row">
         <div class="col-md-12 heading-section mb-6">
            <h2 class="h2 section-title text-center">Related Items</h2>
         </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
         {% for product in related_products %}
         <div class="product">
            <a href="{% url 'product-details' product.id %}" class="block">
               <div class="product-wrapper bg-white shadow-md rounded-lg p-4 transition duration-300 hover:shadow-lg hover:bg-gray-100">
                  <img class="product-img w-full h-48 object-cover rounded-lg mb-4" src="{{ product.photo.url }}" alt="{{ product.name }}" />
                  <div class="product-details">
                     <div class="product-name font-bold mb-2">{{ product.name }}</div>
                     <div class="product-price text-lg text-gray-800 font-semibold mb-2">₹{{ product.price }}</div>
                     <div class="product-rating text-yellow-500 mb-2">{{ product.rating }} <i class="ion-ios-star"></i>&nbsp;&nbsp;</div>
                     <div class="product-sold text-gray-600">({{ product.count }} Sold)</div>
                  </div>
               </div>
            </a>
         </div>
         {% endfor %}
      </div>
   </div>
</section>

{% endblock %}
