{% extends 'layout.html' %} {% load static %} {% block content %}
<style>
   .tick-mark {
      display: none; /* Hide by default */
      font-size: 13px;
      margin-left: 5%;
      width: 700px;
      text-align: center;
   }
</style>
<div class="main-container">
   <div class="payment__container">
      <div class="row payment-check">
         <div class="col1 md:col-span-2">
            <div class="tick-marks mt-20">
               <div class="tick-mark">
                  <ul>
                     <div class="wrapper">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
                           <path
                              class="checkmark"
                              fill="none"
                              stroke-width="8"
                              stroke-miterlimit="10"
                              d="M81.7,17.8C73.5,9.3,62,4,49.2,4
                              C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"
                           />
                        </svg>
                     </div>
                     <li>Emberago passed</li>
                  </ul>
               </div>
               <!-- Tick mark 1 -->
               <div class="tick-mark">
                  <ul>
                     <div class="wrapper">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
                           <path
                              class="checkmark"
                              fill="none"
                              stroke-width="8"
                              stroke-miterlimit="10"
                              d="M81.7,17.8C73.5,9.3,62,4,49.2,4
                              C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"
                           />
                        </svg>
                     </div>
                     <li>Domain is valid {% if domain_valid %}&#10004;{% endif %}</li>
                  </ul>
               </div>
               <!-- Tick mark 2 -->
               <div class="tick-mark">
                  <ul>
                     <div class="wrapper">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
                           <path
                              class="checkmark"
                              fill="none"
                              stroke-width="8"
                              stroke-miterlimit="10"
                              d="M81.7,17.8C73.5,9.3,62,4,49.2,4
                              C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"
                           />
                        </svg>
                     </div>
                     <li>IP intel is valid</li>
                  </ul>
               </div>
               <!-- Tick mark 3 -->
               <div class="tick-mark">
                  <br /><br />
                  <div class="col-10">
                     <span>
                        <h2 class="payment__container-heading h2"><b>Payment Successful</b></h2>
                     </span>
                     <h3 class="payment__container-welcome">Thank you for the purchase</h3>
                  </div>
                  <a href="{ % 'shop' % }">
                     <button id="continue-button" class="btn btn-primary inline-block px-6 py-3 text-white rounded-lg shadow-md transition duration-300"><i class="fa-regular fa-circle-right"></i> Continue to home</button>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
   document.addEventListener("DOMContentLoaded", function () {
      // JavaScript code to execute on page load
      const tickMarks = document.querySelectorAll(".tick-mark");
      let delay = 3000;

      tickMarks.forEach((tickMark) => {
         setTimeout(() => {
            tickMark.style.display = "block";
         }, delay);
         delay += 4000;
      });
   });
</script>
{% endblock %}
