{% extends 'layout.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<section class="content">
  <h1>Checkout</h1>
   <div class="details shadow">
      <div class="details__item">
         <div class="item__image">
            <img class="iphone" src="https://www.apple.com/v/iphone/compare/k/images/overview/compare_iphoneXSmax_silver_large.jpg" alt="">
         </div>
         <div class="item__details">
            <div class="item__title">
               Iphone X
            </div>
            <div class="item__price">
               {{product.price}}
            </div>
            <div class="item__quantity">
               Quantity: 1
            </div>
            <div class="item__description">
               <ul >
                  <li>Super fast and power efficient</li>
                  <li>A lot of fast memory</li>
                  <li>High resolution camera</li>
                  <li>Smart tools for health and traveling and more</li>
                  <li>Share your games and achievements with your friends via Group Play</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="discount"></div>
   <div class="container">
   <div class="payment">
      <div class="grid  lg:grid-cols-3 gap-6">
         {% for card in cards %}
         <div class="payment__type payment__type--cc ">
            <div class="card-details">
               <div class="card-number">Card Number: {{ card.card_number | truncatechars:30  }}</div>
               <div class="card-holder">Cardholder Name: {{ card.cardholder_name  }}</div>
               <div class="expiry">Expiry Date: {{ card.expiry_date   }}</div>
               <div class="security">Security Number: {{ card.security_number |truncatechars:30  }}</div>
               <div class="card-actions"> <a href="{% url 'payment' product_id %}"> <button type="button" class="btn btn-success btn-sm">Make payment</button></a>
                  <button type="button" onclick="viewDetails('{{ card.id }}')" class=" btn btn-outline-info btn-sm">View Details</button>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
      <div class="gird lg:grid-cols-4 ">
        <div class="payment__shipping">
          <div class="payment__title">
            <i class="icon icon-plane"></i> Shiping Information
          </div>
          <div class="details__user">
            <div class="user__name">John Doe
              <br> 13/03/1980</div>
            <div class="user__address">Shipping Address: 22 Street, Address
              <br>Country</div>
          </div>

        </div>
      </div>
      </div>
   </div>

</section>
</div>

{% endblock %}