{% extends 'layout.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<section class="content">
   <h1 class="h2 text-center">Checkout</h1>
   <div class="details shadow">
      <div class="details__item">
         <div class="item__image">
            <img class="iphone" src="https://www.apple.com/v/iphone/compare/k/images/overview/compare_iphoneXSmax_silver_large.jpg" alt="">
         </div>
         <div class="item__details">
            <div class="item__title">
               Iphone X
            </div>
            <div class="item__price">
               {{product.price}}
            </div>
            <div class="item__quantity">
               Quantity: 1
            </div>
            <div class="item__description">
               <ul >
                  <li>Super fast and power efficient</li>
                  <li>A lot of fast memory</li>
                  <li>High resolution camera</li>
                  <li>Smart tools for health and traveling and more</li>
                  <li>Share your games and achievements with your friends via Group Play</li>
               </ul>
            </div>
         </div>
      </div>
   </div>

   <div class="payment">
      <div class="ml-20 mr-20 ">
      <div class="h3">Select credit card</div> <br>
         <div class=" grid lg:grid-cols-3 gap-6">
            {% for  card in cards %}
            <div class="card-details credit-cards">

               <img src="https://t4.ftcdn.net/jpg/03/07/14/09/360_F_307140983_MDNd4Mtv5qgd3LAUK40ru1EPyYWL4elG.jpg"  alt="">
               <div class="card-number"><b>Card Number:</b> {{ card.card_number | truncatechars:30  }}</div>
               <div class="card-holder"><b>Cardholder Name:</b> {{ card.cardholder_name  }}</div>
               <div class="expiry"><b>Expiry Date:</b> {{ card.expiry_date   }}</div>
               <div class="security"><b>Security Number: </b>{{ card.security_number |truncatechars:30  }}</div>
<br>
<button class="btn btn-success inline-block px-3 py-1 text-white rounded-lg shadow-md transition duration-300"><i class="fa-regular fa-eye"></i> View Details</button>

               <button class="btn btn-primary  inline-block px-3 py-1 text-white rounded-lg shadow-md transition duration-300"><i class="fa-regular fa-money-bill-1"></i>  Make Payment</button>


            </div>
            {% endfor %}
         </div>
      </div>

      </div>
   </div>

</section>
</div>

{% endblock %}
