{% extends 'layout.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<section class="content">
   <h1 class="h2 text-center">Checkout</h1><br>
   <div class="details">
      <div class="details-item ">
         <div class="item-image">
            <img class="product-image" src="{{ product.photo.url }}" alt="">
         </div>
         <div class="details-info ">
            <h3 class="product-name">{{ product.name }} </h3>
            {{ product.details }}
            <h4 class="stock-status">Only 2 left in stock</h4>
            <div class="price-section">
               <h4 class="product-price">${{ product.price }}</h4>
             </div>
            <div class="quantity-section">
               <label class="uppercase text-gray" for="quantity">QTY</label>
               <select class="ml-3 border-white p-2 rounded-tight" id="quantity">
                  <option>1</option>
                  <option>2</option>
               </select>
            </div>
         </div>

      </div>
   </div>

   <div class="payment">
      <div class="ml-20 mr-20 ">
      <div class="h3">Select credit card</div> <br>
         <div class=" grid lg:grid-cols-4 gap-6 credit-card-wrap">
            {% for  card in cards %}
            <a href="{% url 'password' %}"><div class="credit-card-inner shadow">
               <button class=""><i class="fa-regular fa-eye"></i> View Details</button>
               <div class="mk-icon-sim"></div>
               <div class="credit-font credit-card-number" >{{card.card_number}}</div>
               <br>
               <footer class="footer">
                  <div class="clearfix">
                     <div class="pull-left">
                        <div class="credit-card-date"><span class="title">Expires End<span class="text-sm">{{card.expiry_date}}</span> </span></div>
                       <br> <br>
                        <div class=" credit-author">{{card.cardholder_name}}</div>
                     </div>
                     <div class="pull-right"><div class="mk-icon-visa"></div></div>
                  </div>
               </footer>
            </div></a>


            {% endfor %}


         </div>
      </div>

      </div>
   </div>

</section>
</div>

{% endblock %}
