{% extends 'layout.html' %} {% load static %} {% block content %}

<section class="ftco-section">
   <div class="container-fluid">
      <form id="verification-form" method="post">
         {% csrf_token %}
         <div class="container">
            <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
               <div class="md:col-span-10 md:pl-5">
                  <h1 class="h2 text-center">Verification</h1>
                  <br />
                  <label>Enter encryption key</label>
                  <input class="number" id="encryption_key" name="encryption_key" type="text" />
                  <br />
                  <button id="continue-button" class="btn btn-primary inline-block px-6 py-3 text-white rounded-lg shadow-md transition duration-300"><i class="fa-regular fa-circle-right"></i> Continue</button>
               </div>
            </div>
         </div>
      </form>
   </div>
</section>

{% endblock %}
