{% extends 'layout.html' %} {% load static %} {% block content %}
<style>
   .tick-mark {
      display: none; /* Hide by default */
      font-size: 18px;
      color: #47850a;
      margin-bottom: 10px;
      margin-left: 5%;
   }
</style>
<section class="ftco-section">
   <div class="container-fluid">
      <form id="verification-form" method="post">
         {% csrf_token %}
         <div class="container">
            <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
               <div class="md:col-span-6 md:pl-5">
                  <h1 class="h2 text-center">Verification</h1>
                  <br />
                  <label>Enter encryption key</label>
                  <input class="number" id="card_num" name="card_num" type="text" ng-model="ncard" maxlength="19" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                  <br />
                  <button id="continue-button" class="btn btn-primary inline-block px-6 py-3 text-white rounded-lg shadow-md transition duration-300"><i class="fa-regular fa-square-caret-right"></i> Continue</button>
               </div>
               <div class="col1 md:col-span-6">
                  <!-- Placeholder for tick marks -->
                  <div class="col1 md:col-span-2">
                     <div class="tick-marks mt-20">
                        <div class="tick-mark">&#10004; abc</div>
                        <!-- Tick mark 1 -->
                        <div class="tick-mark">&#10004; df</div>
                        <!-- Tick mark 2 -->
                        <div class="tick-mark">&#10004;dfs</div>
                        <!-- Tick mark 3 -->
                        <button class="tick-mark btn btn-primary inline-block px-6 py-3 text-white rounded-lg shadow-md transition duration-300"><i class="fa-regular fa-square-caret-right"></i> Proceed</button>

                        <!-- Add more tick marks as needed -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</section>
<script>
   document.querySelector(".btn-primary").addEventListener("click", function (event) {
      event.preventDefault(); // Prevent form submission
      this.style.display = "none";
      const tickMarks = document.querySelectorAll(".tick-mark");
      let delay = 0;

      tickMarks.forEach((tickMark) => {
         setTimeout(() => {
            tickMark.style.display = "block";
         }, delay);
         delay += 1300;
      });
   });
</script>

{% endblock %}
